@font-face {
    font-family: 'DINPro Light';
    font-style: normal;
    font-weight: normal;
    src: local('DINPro Light'), url('assets/font/DINPro-Light.woff') format('woff');
}


@font-face {
    font-family: 'DINPro Medium';
    font-style: normal;
    font-weight: normal;
    src: local('DINPro Medium'), url('assets/font/DINPro-Medium.woff') format('woff');
}


@font-face {
    font-family: 'DINPro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('DINPro Bold'), url('assets/font/DINPro-Bold.woff') format('woff');
}


@font-face {
    font-family: 'DINPro Black';
    font-style: normal;
    font-weight: normal;
    src: local('DINPro Black'), url('assets/font/DINPro-Black.woff') format('woff');
}
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background-color: rgb(193, 221, 2);
    font-family: "DINPro Medium";
    color: rgb(14, 76, 129);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60vw;
    text-align: center;
}

img {
  width: 10%;
  height: auto;
}

.name {
    font-size: 3vw;
}

.shortInfo{
font-size: 1.5vw;
text-transform: uppercase;
}

.tagline {
font-size: 3vw;
text-transform: uppercase;

}

@media only screen and (max-width:1000px) {
    img {
        width: 30%;
        height: auto;
    }

    .name {
        font-size: 9vw;
    }
    
    .shortInfo{
    font-size: 4vw;
    }
    
    .tagline {
    font-size: 7vw;
    }
}

